<title>Dịch vụ - OTC TMG Group</title>
<div xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
	<!-- Inner page Header Banner Area Start Here -->
	<div class="header-bennar-area">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
					<div class="header-bennar-left">
						<h2 class="text-capitalize" th:text="${masterCategory.categoryName}">Services 02</h2>
					</div>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
					<div class="header-bennar-right">
						<ul>
							<li><a th:href="@{/}">Trang Chủ</a> /</li>
							<li class="text-capitalize" th:text="${masterCategory.categoryName}">Services 02</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Inner page Header Banner Area End Here -->
	<!-- Page Services 2 Area Start Here -->
	<div class="page-services-2-area section-space-88-44">
		<div class="container">
			<div class="page-services-2-top">
				<div class="row">
					<div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
						<h2 class="section-sub-title-big">Giới Thiệu Chung</h2>
						<h4>Sorem ipsum dolor sit amet, consectetur adipisicing eli
							sed do eiusmdolor consetemponcididunt dolore.</h4>
						<p>Dorem ipsum dolor sit amet, consectetur adipisicing elit,
							sed do eiusmod teididunt ut labore et dolore. Lorem ipsum dolor
							sit ameo eiusmod tempor. incididunt ut labore et dolore.Dorem
							ipsum dolor sit amet, consectetur adipisicing elit, sed do
							eiusmod teididunt ut labore et dolore. Lorem ipsum dolor sit ameo
							eiusmod tempor.</p>
					</div>
					<div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
						<a href="#"><img class="img-responsive"
							th:src="@{/static/img/services/page-services-2-banner.jpg}"
							alt="services-2 banner" /></a>
					</div>
				</div>
			</div>
			<div class="page-services-2-bottom inner-section-space-top">
				<div class="row">
					<th:block th:each="service : ${services}">
						<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
							<div class="page-services-2-box">
								<div class="media">
									<a th:href="@{'/determineUrl/' + ${service.categoryId}}" class="pull-left"> <i
										th:class="${service.categoryIcon + ' ' + 'media-object'}"></i>
									</a>
									<div class="media-body">
										<h3 class="section-sub-title">
											<a th:href="@{'/determineUrl/' + ${service.categoryId}}" class="text-capitalize" th:text="${service.categoryName}">Building Construction</a>
										</h3>
										<p>Business many variations of passages of Ipsum
											availablesuffhuof passages of Lorem Ipsum available, but the
											majority.consectetur adipisicing elit, sed do eiusmod
											teididunt.</p>
									</div>
								</div>
							</div>
						</div>
					</th:block>
				</div>
			</div>
		</div>
	</div>
	<!-- Page Services 2 Area End Here -->
	<!-- Contact Banner Area Start Here -->
	<div class="contact-banner-area section-space">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div
					class="col-lg-8 col-md-8 col-sm-8 col-xs-12 in-responsive-center">
					<h3>We are Relaible Stock Company</h3>
				</div>
				<div
					class="col-lg-4 col-md-4 col-sm-4 col-xs-12 text-left in-responsive-center">
					<a href="#" class="btn-read-more">Contact Us<i
						class="fa fa-chevron-right" aria-hidden="true"></i></a>
				</div>
			</div>
		</div>
	</div>
	<!-- Contact Banner Area End Here -->
	<!-- Clients Area Start Here -->
	<div class="clients-area section-space-88">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div class="section-title-area">
						<h2 class="section-title">What Client’s Say</h2>
						<div class="title-bottom-icon">
							<span class="title-bottom-icon-left"></span> <i
								class="fa fa-cubes" aria-hidden="true"></i> <span
								class="title-bottom-icon-right"></span>
						</div>
					</div>
				</div>
			</div>
			<div class="kon-carousel" data-loop="true" data-items="2"
				data-margin="30" data-autoplay="false" data-autoplay-timeout="10000"
				data-smart-speed="2000" data-dots="false" data-nav="true"
				data-nav-speed="false" data-r-x-small="1" data-r-x-small-nav="false"
				data-r-x-small-dots="true" data-r-x-medium="1"
				data-r-x-medium-nav="false" data-r-x-medium-dots="true"
				data-r-small="1" data-r-small-nav="false" data-r-small-dots="true"
				data-r-medium="2" data-r-medium-nav="false"
				data-r-medium-dots="true" data-r-large="2" data-r-large-nav="false"
				data-r-large-dots="true">
				<div class="clients-box">
					<div class="clients-area-top">
						<a href="#"><img class="img-responsive"
							th:src="@{/static/img/clients/1.png}" alt="clients1" /></a>
						<div class="clients-area-top-content">
							<h4>
								<a href="#">Jhon Smith</a>
							</h4>
							<p>Senior Construct Chief</p>
						</div>
					</div>
					<p>“ Simply dummy text of the printing and typesettinLorem
						ipsum dolor sit amet, consectetur adipisicing elit, sed do
						eincididunt ut labore et dolore. Lorem ipsum ds, when make a type
						”</p>
				</div>
				<div class="clients-box">
					<div class="clients-area-top">
						<a href="#"><img class="img-responsive"
							th:src="@{/static/img/clients/2.png}" alt="clients2" /></a>
						<div class="clients-area-top-content">
							<h4>
								<a href="#">Jenny Lopez</a>
							</h4>
							<p>Senior Chief</p>
						</div>
					</div>
					<p>“ Simply dummy text of the printing and typesettinLorem
						ipsum dolor sit amet, consectetur adipisicing elit, sed do
						eincididunt ut labore et dolore. Lorem ipsum ds, when make a type
						”</p>
				</div>
				<div class="clients-box">
					<div class="clients-area-top">
						<a href="#"><img class="img-responsive"
							th:src="@{/static/img/clients/1.png}" alt="clients1" /></a>
						<div class="clients-area-top-content">
							<h4>
								<a href="#">Jhon Smith</a>
							</h4>
							<p>Senior Construct Chief</p>
						</div>
					</div>
					<p>“ Simply dummy text of the printing and typesettinLorem
						ipsum dolor sit amet, consectetur adipisicing elit, sed do
						eincididunt ut labore et dolore. Lorem ipsum ds, when make a type
						”</p>
				</div>
				<div class="clients-box">
					<div class="clients-area-top">
						<a href="#"><img class="img-responsive"
							th:src="@{/static/img/clients/2.png}" alt="clients2" /></a>
						<div class="clients-area-top-content">
							<h4>
								<a href="#">Jenny Lopez</a>
							</h4>
							<p>Senior Chief</p>
						</div>
					</div>
					<p>“ Simply dummy text of the printing and typesettinLorem
						ipsum dolor sit amet, consectetur adipisicing elit, sed do
						eincididunt ut labore et dolore. Lorem ipsum ds, when make a type
						”</p>
				</div>
				<div class="clients-box">
					<div class="clients-area-top">
						<a href="#"><img class="img-responsive"
							th:src="@{/static/img/clients/1.png}" alt="clients1" /></a>
						<div class="clients-area-top-content">
							<h4>
								<a href="#">Jenny Lopez</a>
							</h4>
							<p>Senior Chief</p>
						</div>
					</div>
					<p>“ Simply dummy text of the printing and typesettinLorem
						ipsum dolor sit amet, consectetur adipisicing elit, sed do
						eincididunt ut labore et dolore. Lorem ipsum ds, when make a type
						”</p>
				</div>
			</div>
		</div>
	</div>
	<!-- Clients Area End Here -->
	<!-- Brand Area Start Here -->
	<div class="brand-area">
		<div class="container">
			<div class="brand kon-carousel" data-loop="true" data-items="6"
				data-margin="30" data-autoplay="true" data-autoplay-timeout="10000"
				data-smart-speed="2000" data-dots="false" data-nav="true"
				data-nav-speed="false" data-r-x-small="2" data-r-x-small-nav="true"
				data-r-x-small-dots="false" data-r-x-medium="3"
				data-r-x-medium-nav="true" data-r-x-medium-dots="false"
				data-r-small="4" data-r-small-nav="true" data-r-small-dots="false"
				data-r-medium="5" data-r-medium-nav="true"
				data-r-medium-dots="false" data-r-large="6" data-r-large-nav="true"
				data-r-large-dots="false">
				<div class="brand-box">
					<a href="#"><img class="img-responsive"
						th:src="@{/static/img/brand/1.png}" alt="brand1" /></a>
				</div>
				<div class="brand-box">
					<a href="#"><img class="img-responsive"
						th:src="@{/static/img/brand/2.png}" alt="brand2" /></a>
				</div>
				<div class="brand-box">
					<a href="#"><img class="img-responsive"
						th:src="@{/static/img/brand/3.png}" alt="brand3" /></a>
				</div>
				<div class="brand-box">
					<a href="#"><img class="img-responsive"
						th:src="@{/static/img/brand/4.png}" alt="brand4" /></a>
				</div>
				<div class="brand-box">
					<a href="#"><img class="img-responsive"
						th:src="@{/static/img/brand/5.png}" alt="brand5" /></a>
				</div>
				<div class="brand-box">
					<a href="#"><img class="img-responsive"
						th:src="@{/static/img/brand/6.png}" alt="brand6" /></a>
				</div>
				<div class="brand-box">
					<a href="#"><img class="img-responsive"
						th:src="@{/static/img/brand/1.png}" alt="brand1" /></a>
				</div>
				<div class="brand-box">
					<a href="#"><img class="img-responsive"
						th:src="@{/static/img/brand/2.png}" alt="brand2" /></a>
				</div>
				<div class="brand-box">
					<a href="#"><img class="img-responsive"
						th:src="@{/static/img/brand/3.png}" alt="brand3" /></a>
				</div>
				<div class="brand-box">
					<a href="#"><img class="img-responsive"
						th:src="@{/static/img/brand/4.png}" alt="brand4" /></a>
				</div>
				<div class="brand-box">
					<a href="#"><img class="img-responsive"
						th:src="@{/static/img/brand/5.png}" alt="brand5" /></a>
				</div>
				<div class="brand-box">
					<a href="#"><img class="img-responsive"
						th:src="@{/static/img/brand/6.png}" alt="brand6" /></a>
				</div>
			</div>
		</div>
	</div>
	<!-- Brand Area End Here -->
</div>
