<title>Trang Chủ - OTC TMG Group </title>
<div xmlns="http://www.w3.org/1999/xhtml"
     xmlns:th="http://www.thymeleaf.org">
<!-- Slider Area Start Here -->
<div class="slider-area"
     xmlns="http://www.w3.org/1999/xhtml"
     xmlns:th="http://www.thymeleaf.org">
    <div class="overlay"></div>
    <div class="bend niceties preview-1">
        <div id="ensign-nivoslider" class="slides">
            <img th:src="@{/static/img/slider-1/1.jpg}" alt="" title="#slider-direction-1"  />
            <img th:src="@{/static/img/slider-1/2.jpg}" alt="" title="#slider-direction-2"  />
            <img th:src="@{/static/img/slider-1/3.jpg}" alt="" title="#slider-direction-3"  />
        </div>
        <!-- Direction 1 -->
        <div id="slider-direction-1" class="t-cn slider-direction">
            <div class="slider-content t-cn s-tb slider-1">
                <div class="title-container s-tb-c title-compress">
                    <h3 class="title4" >Professional Construction Company</h3>
                    <h1 class="title1">We Build <span>Your</span> Dreams</h1>
                    <div class="details-content">
                        <p>Dorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod teididunt ut labore et orem ipsum</p>
                        <p> dolor sit ameo eiusmod tm do eiusmod teididunt ut labore et dolore.</p>
                    </div>
                    <div class="read-more">
                        <ul>
                            <li><a href="#">Read More <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a></li>
                            <li><a href="#">Contact Us <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- Direction 2 -->
        <div id="slider-direction-2" class="t-cn slider-direction">
            <div class="slider-content t-cn s-tb slider-2">
                <div class="title-container s-tb-c title-compress">
                    <h1 class="title1"><span>High Quality</span> Materials</h1>
                    <div class="details-content">
                        <p>Dorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod teididunt ut labore et orem ipsum</p>
                        <p> dolor sit ameo eiusmod tm do eiusmod teididunt ut labore et dolore.</p>
                    </div>
                    <div class="read-more">
                        <ul>
                            <li><a href="#">Read More <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a></li>
                            <li><a href="#">Contact Us <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- Direction 3 -->
        <div id="slider-direction-3" class="t-cn slider-direction">
            <div class="slider-content t-cn s-tb slider-3">
                <div class="title-container s-tb-c title-compress">
                    <h3 class="title4" >Construction Company</h3>
                    <h1 class="title1">We Build <span> Decidedly</span></h1>
                    <div class="read-more">
                        <ul>
                            <li><a href="#">Read More <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a></li>
                            <li><a href="#">Contact Us <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Slider Area End Here -->

<!-- Service Area Start Here -->
<div class="service-area">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="service-box">
                    <div class="service-box-top">
                        <a href="#"><i class="flaticon-road"></i></a>
                        <h3><a href="#">Building</a></h3>
                    </div>
                    <p>Dorem ipsum dolor sit amet, consectetur adipisicing elised doingyt eiusmod teididunt ut labore et dolore  eiusmod tempor. incididunt ut labore et dolore.</p>
                    <a href="#" class="service-read-more"><i class="fa fa-chevron-right" aria-hidden="true"></i></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="service-box active">
                    <div class="service-box-top">
                        <a href="#"><i class="flaticon-drilling-wall"></i></a>
                        <h3><a href="#">Renovation</a></h3>
                    </div>
                    <p>Dorem ipsum dolor sit amet, consectetur adipisicing elised doingyt eiusmod teididunt ut labore et dolore  eiusmod tempor. incididunt ut labore et dolore.</p>
                    <a href="#" class="service-read-more"><i class="fa fa-chevron-right" aria-hidden="true"></i></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="service-box">
                    <div class="service-box-top">
                        <a href="#"><i class="flaticon-road-perspective-of-curves"></i></a>
                        <h3><a href="#">Road Repair</a></h3>
                    </div>
                    <p>Dorem ipsum dolor sit amet, consectetur adipisicing elised doingyt eiusmod teididunt ut labore et dolore  eiusmod tempor. incididunt ut labore et dolore.</p>
                    <a href="#" class="service-read-more"><i class="fa fa-chevron-right" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Service Area End Here -->

<!-- About Area Start Here -->
<div class="about-area section-space">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                <div class="about-left">
                    <h2>We Are <span>Professional</span></h2>
                    <p>Simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting.</p>
                    <ul>
                        <li><i class="flaticon-check-mark-button"></i>Expert material is defined as a substance (most often a solid)</li>
                        <li><i class="flaticon-check-mark-button"></i>Dedicated  material substance (most often a solid)</li>
                        <li><i class="flaticon-check-mark-button"></i>Team designated for you is dedicated to you and all your</li>
                        <li><i class="flaticon-check-mark-button"></i>With every requirement we check latest</li>
                    </ul>
                    <a href="#" class="btn-read-more">Read More<i class="fa fa-chevron-right" aria-hidden="true"></i></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="about-right img-back-side">
                    <div class="overlay"></div>
                    <a href="#"><img class="img-responsive" th:src="@{/static/img/about.jpg}" alt="about"/></a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About Area End Here -->

<!-- Featured Area Start Here -->
<div class="featured-area section-space-88-100" th:style="'background:url('+ @{/static/img/featured/background.jpg} +');'">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="section-title-area">
                    <h2 class="section-title">Featured Works</h2>
                    <div class="title-bottom-icon">
                        <span class="title-bottom-icon-left"></span>
                        <i class="fa fa-cubes" aria-hidden="true"></i>
                        <span class="title-bottom-icon-right"></span>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor. incididunt ut labore et dolore. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusm dipisicing elit, sed do eiusmod tempor. incididunt ut labore et dolore.</p>
                </div>
            </div>
        </div>
        <div class="row inner-section-space-top">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="isotop-classes-tab">
                    <a href="#" data-filter="*" class="current">All</a>
                    <a href="#" data-filter=".Buildings">Buildings</a>
                    <a href="#" data-filter=".Construction">Construction</a>
                    <a href="#" data-filter=".Digging">Digging</a>
                    <a href="#" data-filter=".Interior">Interior</a>
                    <a href="#" data-filter=".Tiling">Tiling</a>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid inner-section-space-top">
        <div class="row featuredContainer">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 Interior Digging Tiling">
                <div class="featured-box">
                    <div class="featured-box-content">
                        <h3><a href="#">Building</a></h3>
                        <div class="line"></div>
                        <p>Construction</p>
                    </div>
                    <ul class="featured-details">
                        <li><a href="img/featured/1.jpg" class="zoom" rel="gal"><i class="fa fa-search" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-link" aria-hidden="true"></i></a></li>
                    </ul>
                    <div class="overlay"></div>
                    <a href="#"><img th:src="@{/static/img/featured/1.jpg}" alt="featured3"/></a>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 Buildings Digging Tiling">
                <div class="featured-box">
                    <div class="featured-box-content">
                        <h3><a href="#">Building</a></h3>
                        <div class="line"></div>
                        <p>Construction</p>
                    </div>
                    <ul class="featured-details">
                        <li><a href="img/featured/2.jpg" class="zoom" rel="gal"><i class="fa fa-search" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-link" aria-hidden="true"></i></a></li>
                    </ul>
                    <div class="overlay"></div>
                    <a href="#"><img th:src="@{/static/img/featured/2.jpg}" alt="featured3"/></a>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 Buildings Interior Digging Construction">
                <div class="featured-box">
                    <div class="featured-box-content">
                        <h3><a href="#">Building</a></h3>
                        <div class="line"></div>
                        <p>Construction</p>
                    </div>
                    <ul class="featured-details">
                        <li><a href="img/featured/3.jpg" class="zoom" rel="gal"><i class="fa fa-search" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-link" aria-hidden="true"></i></a></li>
                    </ul>
                    <div class="overlay"></div>
                    <a href="#"><img th:src="@{/static/img/featured/3.jpg}" alt="featured3"/></a>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 Buildings Construction Interior">
                <div class="featured-box">
                    <div class="featured-box-content">
                        <h3><a href="#">Building</a></h3>
                        <div class="line"></div>
                        <p>Construction</p>
                    </div>
                    <ul class="featured-details">
                        <li><a href="img/featured/4.jpg" class="zoom" rel="gal"><i class="fa fa-search" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-link" aria-hidden="true"></i></a></li>
                    </ul>
                    <div class="overlay"></div>
                    <a href="#"><img th:src="@{/static/img/featured/4.jpg}" alt="featured3"/></a>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 Buildings Construction Digging Tiling">
                <div class="featured-box">
                    <div class="featured-box-content">
                        <h3><a href="#">Road Construction</a></h3>
                        <div class="line"></div>
                        <p>Construction</p>
                    </div>
                    <ul class="featured-details">
                        <li><a href="img/featured/5.jpg" class="zoom" rel="gal"><i class="fa fa-search" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-link" aria-hidden="true"></i></a></li>
                    </ul>
                    <div class="overlay"></div>
                    <a href="#"><img th:src="@{/static/img/featured/5.jpg}" alt="featured3"/></a>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6  Digging Interior">
                <div class="featured-box">
                    <div class="featured-box-content">
                        <h3><a href="#">Road Construction</a></h3>
                        <div class="line"></div>
                        <p>Construction</p>
                    </div>
                    <ul class="featured-details">
                        <li><a href="img/featured/6.jpg" class="zoom" rel="gal"><i class="fa fa-search" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-link" aria-hidden="true"></i></a></li>
                    </ul>
                    <div class="overlay"></div>
                    <a href="#"><img th:src="@{/static/img/featured/6.jpg}" alt="featured3"/></a>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 Buildings Digging Tiling">
                <div class="featured-box">
                    <div class="featured-box-content">
                        <h3><a href="#">Road Construction</a></h3>
                        <div class="line"></div>
                        <p>Construction</p>
                    </div>
                    <ul class="featured-details">
                        <li><a href="img/featured/7.jpg" class="zoom" rel="gal"><i class="fa fa-search" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-link" aria-hidden="true"></i></a></li>
                    </ul>
                    <div class="overlay"></div>
                    <a href="#"><img th:src="@{/static/img/featured/7.jpg}" alt="featured3"/></a>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 Interior Digging Construction">
                <div class="featured-box">
                    <div class="featured-box-content">
                        <h3><a href="#">Road Construction</a></h3>
                        <div class="line"></div>
                        <p>Construction</p>
                    </div>
                    <ul class="featured-details">
                        <li><a href="img/featured/8.jpg" class="zoom" rel="gal"><i class="fa fa-search" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-link" aria-hidden="true"></i></a></li>
                    </ul>
                    <div class="overlay"></div>
                    <a href="#"><img th:src="@{/static/img/featured/8.jpg}" alt="featured3"/></a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Featured Area End Here -->

<!-- Our Team Area Start Here -->
<div class="team-area section-space-88-64">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="section-title-area">
                    <h2 class="section-title">Our Creative Team</h2>
                    <div class="title-bottom-icon">
                        <span class="title-bottom-icon-left"></span>
                        <i class="fa fa-cubes" aria-hidden="true"></i>
                        <span class="title-bottom-icon-right"></span>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor. incididunt ut labore et dolore. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusm dipisicing elit, sed do eiusmod tempor. incididunt ut labore et dolore.</p>
                </div>
            </div>
        </div>
        <div class="row inner-section-space-top">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 margin-b-30">
                <div class="team-box">
                    <div class="overlay-box">
                        <div class="overlay">
                            <ul>
                                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-skype" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                        <div class="img-back-side">
                            <a href="#"><img class="img-responsive" th:src="@{/static/img/team/1.jpg}" alt="team1"/></a>
                        </div>
                    </div>
                    <h3><a href="#">David Fahim</a></h3>
                    <p>Senior InCharge Construction</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 margin-b-30">
                <div class="team-box">
                    <div class="overlay-box">
                        <div class="overlay">
                            <ul>
                                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-skype" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                        <div class="img-back-side">
                            <a href="#"><img class="img-responsive" th:src="@{/static/img/team/2.jpg}" alt="team2"/></a>
                        </div>
                    </div>
                    <h3><a href="#">Kiron Jorge</a></h3>
                    <p>Senior InCharge Construction</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 margin-b-30">
                <div class="team-box">
                    <div class="overlay-box">
                        <div class="overlay">
                            <ul>
                                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-skype" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                        <div class="img-back-side">
                            <a href="#"><img class="img-responsive" th:src="@{/static/img/team/3.jpg}" alt="team3"/></a>
                        </div>
                    </div>
                    <h3><a href="#">Robart Jason</a></h3>
                    <p>Senior InCharge Construction</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 margin-b-30">
                <div class="team-box">
                    <div class="overlay-box">
                        <div class="overlay">
                            <ul>
                                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-skype" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                        <div class="img-back-side">
                            <a href="#"><img class="img-responsive" th:src="@{/static/img/team/4.jpg}" alt="team4"/></a>
                        </div>
                    </div>
                    <h3><a href="#">Muktar Amint</a></h3>
                    <p>Senior InCharge Construction</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Our Team Area End Here -->

<!-- Video Area Start Here -->
<div class="video-area section-space-82-100" th:style="'background:url('+ @{/static/img/video/background.jpg} +');'">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h2>We Build <span>Your Future</span></h2>
                <p>Proin sagittis feugiat elit finibus pretium Donec et tortor non purus vulputate tinci dunt Cras congue.consectetur id. Aenean sit amet massa eu velit commodo cursus fringilla a tellullis porta feuare eu augue. </p>
                <a class="popup-youtube" href="https://www.youtube.com/watch?v=1iIZeIy7TqM"><i class="flaticon-play-button"></i></a>
            </div>
        </div>
    </div>
</div>
<!-- Video Area End Here -->

<!-- News Area Start Here -->
<div class="news-area section-space-88-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="section-title-area">
                    <h2 class="section-title">Our Latest News</h2>
                    <div class="title-bottom-icon">
                        <span class="title-bottom-icon-left"></span>
                        <i class="fa fa-cubes" aria-hidden="true"></i>
                        <span class="title-bottom-icon-right"></span>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor. incididunt ut labore et dolore. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusm dipisicing elit, sed do eiusmod tempor. incididunt ut labore et dolore.</p>
                </div>
            </div>
        </div>
        <div class="row inner-section-space-top">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="inner-news-box-top">
                    <div class="news-published">
                        <p class="news-date">05 Jul</p>
                        <p class="news-year">2016</p>
                    </div>
                    <img class="img-responsive" th:src="@{/static/img/news/1.jpg}" alt="news1"/>
                </div>
                <div class="inner-news-box-bottom">
                    <h4><a href="#">How To Make Impressive Designs</a></h4>
                    <p>In pro diam quas interesset, eu sit partem inimicusumsan assentior mei,consetetur…</p>
                    <a href="#" class="btn-read-more">Read More<i class="fa fa-chevron-right" aria-hidden="true"></i></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="inner-news-box-top">
                    <div class="news-published">
                        <p class="news-date">05 Jul</p>
                        <p class="news-year">2016</p>
                    </div>
                    <img class="img-responsive" th:src="@{/static/img/news/2.jpg}" alt="news2"/>
                </div>
                <div class="inner-news-box-bottom">
                    <h4><a href="#">How To Make Impressive Designs</a></h4>
                    <p>In pro diam quas interesset, eu sit partem inimicusumsan assentior mei,consetetur…</p>
                    <a href="#" class="btn-read-more">Read More<i class="fa fa-chevron-right" aria-hidden="true"></i></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="inner-news-box-top">
                    <div class="news-published">
                        <p class="news-date">05 Jul</p>
                        <p class="news-year">2016</p>
                    </div>
                    <img class="img-responsive" th:src="@{/static/img/news/3.jpg}" alt="news3"/>
                </div>
                <div class="inner-news-box-bottom">
                    <h4><a href="#">How To Make Impressive Designs</a></h4>
                    <p>In pro diam quas interesset, eu sit partem inimicusumsan assentior mei,consetetur…</p>
                    <a href="#" class="btn-read-more">Read More<i class="fa fa-chevron-right" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- News Area End Here -->

<!-- Clients Area Start Here -->
<div class="clients-area section-space-88">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="section-title-area">
                    <h2 class="section-title">What Client’s Say</h2>
                    <div class="title-bottom-icon">
                        <span class="title-bottom-icon-left"></span>
                        <i class="fa fa-cubes" aria-hidden="true"></i>
                        <span class="title-bottom-icon-right"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="kon-carousel"
             data-loop="true"
             data-items="2"
             data-margin="30"
             data-autoplay="false"
             data-autoplay-timeout="10000"
             data-smart-speed="2000"
             data-dots="false"
             data-nav="true"
             data-nav-speed="false"
             data-r-x-small="1"
             data-r-x-small-nav="false"
             data-r-x-small-dots="true"
             data-r-x-medium="1"
             data-r-x-medium-nav="false"
             data-r-x-medium-dots="true"
             data-r-small="1"
             data-r-small-nav="false"
             data-r-small-dots="true"
             data-r-medium="2"
             data-r-medium-nav="false"
             data-r-medium-dots="true"
             data-r-large="2"
             data-r-large-nav="false"
             data-r-large-dots="true">
            <div class="clients-box">
                <div class="clients-area-top">
                    <a href="#"><img class="img-responsive" th:src="@{/static/img/clients/1.png}" alt="clients1"/></a>
                    <div class="clients-area-top-content">
                        <h4><a href="#">Jhon Smith</a></h4>
                        <p>Senior Construct Chief</p>
                    </div>
                </div>
                <p>“ Simply dummy text of the printing and typesettinLorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eincididunt ut labore et dolore. Lorem ipsum ds, when make a type ”</p>
            </div>
            <div class="clients-box">
                <div class="clients-area-top">
                    <a href="#"><img class="img-responsive" th:src="@{/static/img/clients/2.png}" alt="clients2"/></a>
                    <div class="clients-area-top-content">
                        <h4><a href="#">Jenny Lopez</a></h4>
                        <p>Senior Chief</p>
                    </div>
                </div>
                <p>“ Simply dummy text of the printing and typesettinLorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eincididunt ut labore et dolore. Lorem ipsum ds, when make a type ”</p>
            </div>
            <div class="clients-box">
                <div class="clients-area-top">
                    <a href="#"><img class="img-responsive" th:src="@{/static/img/clients/1.png}" alt="clients1"/></a>
                    <div class="clients-area-top-content">
                        <h4><a href="#">Jhon Smith</a></h4>
                        <p>Senior Construct Chief</p>
                    </div>
                </div>
                <p>“ Simply dummy text of the printing and typesettinLorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eincididunt ut labore et dolore. Lorem ipsum ds, when make a type ”</p>
            </div>
            <div class="clients-box">
                <div class="clients-area-top">
                    <a href="#"><img class="img-responsive" th:src="@{/static/img/clients/2.png}" alt="clients2"/></a>
                    <div class="clients-area-top-content">
                        <h4><a href="#">Jenny Lopez</a></h4>
                        <p>Senior Chief</p>
                    </div>
                </div>
                <p>“ Simply dummy text of the printing and typesettinLorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eincididunt ut labore et dolore. Lorem ipsum ds, when make a type ”</p>
            </div>
            <div class="clients-box">
                <div class="clients-area-top">
                    <a href="#"><img class="img-responsive" th:src="@{/static/img/clients/1.png}" alt="clients1"/></a>
                    <div class="clients-area-top-content">
                        <h4><a href="#">Jenny Lopez</a></h4>
                        <p>Senior Chief</p>
                    </div>
                </div>
                <p>“ Simply dummy text of the printing and typesettinLorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eincididunt ut labore et dolore. Lorem ipsum ds, when make a type ”</p>
            </div>
        </div>
    </div>
</div>
<!-- Clients Area End Here -->

<!-- Brand Area Start Here -->
<div class="brand-area">
    <div class="container">
        <div class="brand kon-carousel"
             data-loop="true"
             data-items="6"
             data-margin="30"
             data-autoplay="true"
             data-autoplay-timeout="10000"
             data-smart-speed="2000"
             data-dots="false"
             data-nav="true"
             data-nav-speed="false"
             data-r-x-small="2"
             data-r-x-small-nav="true"
             data-r-x-small-dots="false"
             data-r-x-medium="3"
             data-r-x-medium-nav="true"
             data-r-x-medium-dots="false"
             data-r-small="4"
             data-r-small-nav="true"
             data-r-small-dots="false"
             data-r-medium="5"
             data-r-medium-nav="true"
             data-r-medium-dots="false"
             data-r-large="6"
             data-r-large-nav="true"
             data-r-large-dots="false">
            <div class="brand-box">
                <a href="#"><img class="img-responsive" th:src="@{/static/img/brand/1.png}" alt="brand1"/></a>
            </div>
            <div class="brand-box">
                <a href="#"><img class="img-responsive" th:src="@{/static/img/brand/2.png}" alt="brand2"/></a>
            </div>
            <div class="brand-box">
                <a href="#"><img class="img-responsive" th:src="@{/static/img/brand/3.png}" alt="brand3"/></a>
            </div>
            <div class="brand-box">
                <a href="#"><img class="img-responsive" th:src="@{/static/img/brand/4.png}" alt="brand4"/></a>
            </div>
            <div class="brand-box">
                <a href="#"><img class="img-responsive" th:src="@{/static/img/brand/5.png}" alt="brand5"/></a>
            </div>
            <div class="brand-box">
                <a href="#"><img class="img-responsive" th:src="@{/static/img/brand/6.png}" alt="brand6"/></a>
            </div>
            <div class="brand-box">
                <a href="#"><img class="img-responsive" th:src="@{/static/img/brand/1.png}" alt="brand1"/></a>
            </div>
            <div class="brand-box">
                <a href="#"><img class="img-responsive" th:src="@{/static/img/brand/2.png}" alt="brand2"/></a>
            </div>
            <div class="brand-box">
                <a href="#"><img class="img-responsive" th:src="@{/static/img/brand/3.png}" alt="brand3"/></a>
            </div>
            <div class="brand-box">
                <a href="#"><img class="img-responsive" th:src="@{/static/img/brand/4.png}" alt="brand4"/></a>
            </div>
            <div class="brand-box">
                <a href="#"><img class="img-responsive" th:src="@{/static/img/brand/5.png}" alt="brand5"/></a>
            </div>
            <div class="brand-box">
                <a href="#"><img class="img-responsive" th:src="@{/static/img/brand/6.png}" alt="brand6"/></a>
            </div>
        </div>
    </div>
</div>
<!-- Brand Area End Here -->
</div>




