<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<body th:fragment="content">
	<table id="myTable" class="stripe hover row-border order-column cell-border">
		<thead>
			<tr>
				<th>#</th>
				<th>Thao tác</th>
				<th>Tiêu đề</th>
				<th>Ngày tạo</th>
			</tr>
		</thead>
		<tbody>
			<th:block th:each="item,i : ${newsList}">
				<tr th:attr="data-news-id=${item.id}">
					<td th:text="${i.index}"></td>
					<td><a type="button"
						class="j-btn-detail glyphicon glyphicon-eye-open custom-icon"></a>
						<a type="button"
						class="j-btn-edit glyphicon glyphicon-edit custom-icon"></a> <a
						type="button"
						class="j-btn-delete glyphicon glyphicon-remove-sign font-size-20 red"></a>
					</td>
					<td th:text="${item.subject}"></td>
					<td th:text="${item.createdDate}"></td>
				</tr>
			</th:block>
		</tbody>
	</table>

	<!-- <div class="form-horizontal">
		<div class="col-xs-5">
			<div class="form-group">
				<div style="height: 25px; padding-left: 20px"></div>
				<span class="blu" style="padding-left: 20px">Size / Page</span> 
				<select>
					<option>1</option>
				</select>
			</div>
		</div>
		<div class="col-xs-7">
			<div class="form-group">
				<ul class="pagination" id="pagination"></ul>
			</div>
		</div>
	</div> -->
	<script type="text/javascript"
		th:src="@{/static/js/admin/news/news-table.js}"></script>
</body>
</html>

