<div class="header-style1-area"
     xmlns="http://www.w3.org/1999/xhtml"
     xmlns:th="http://www.thymeleaf.org">
    <div class="header-top-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <div class="header-top-left">
                        <ul>
                            <li><i class="fa fa-phone" aria-hidden="true"></i><a href="tel:+1234567890">Call : 091 785 5353</a></li>
                            <li><i class="fa fa-envelope" aria-hidden="true"></i><a href="#">tmgfund@gmail.com</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <div class="header-top-right">
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                            <!-- <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li> -->
                            <li><a th:href="@{/register}">Đăng ký</a></li>
                            
                            <li th:if="${#authorization.expression('isAnonymous()')}"><a th:href="@{/login}">Đăng nhập</a></li>
                            
                            <li th:if="${#authorization.expression('isAuthenticated()')}" class="dropdown">
							  <a href="#">
							  <img th:src="@{${#authentication.principal.avatar}}" class="img-avata"/>
							  <span>Welcome, </span>
							  <span th:text="${#authentication.principal.fullName}">Khánh Nguyễn</span>
							  <span class="caret"></span>
							  <input id="namechat" type="hidden" th:value="${#authentication.principal.fullName}"/>
							  <input id="emailchat" type="hidden" th:value="${#authentication.principal.email}"/>
							  </a>				  
							  <ul class="dropdown-menu">
							    <li><a th:href="@{/user}" >Thông tin cá nhân</a></li>
							    <li><a th:href="@{/changePassword}">Thay đổi mật khẩu</a></li>
							    <li><a href="#">Tài liệu của tôi</a></li>
							    <li><a href="#">Khóa học của tôi</a></li>
							    <li><a th:href="@{/logout?redirectTo=/}">Đăng xuất</a></li>
							  </ul>
							</li>
							
                           <!--  <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-rss" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li> -->
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="main-header-area" id="sticker">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                    <div class="logo-area">
                        <a href="index.html"><img class="img-responsive" th:src="@{/static/img/logo.png}" alt="logo"/></a>
                    </div>
                </div>
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                    <div class="main-menu-area">
                        <nav id="dynamic-menu">
                            <ul>
                                <li class="active"><a href="#">Home</a>
                                    <ul>
                                        <li><a class="active" href="index.html">Home 1</a></li>
                                        <li><a href="index1.html">Home 2</a></li>
                                        <li><a href="index2.html">Home 3</a></li>
                                        <li><a href="index3.html">Home 4</a></li>
                                    </ul>
                                </li>
                                <li><a href="about-us.html">About Us</a></li>
                                <li><a href="#">Services</a>
                                    <ul>
                                        <li><a href="services1.html">Services 1<span class="float-right"><i class="fas fa-angle-double-right"></i></span></a></li>
                                        <li><a href="services2.html">Services 2</a>
                                     
                                        </li>
                                        <li><a href="services3.html">Services 3</a></li>
                                        <li><a href="services-details.html">Services Details</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">Projects</a>
                                    <ul>
                                        <li><a href="projects1.html">Projects 1</a></li>
                                        <li><a href="projects2.html">Projects 2</a></li>
                                        <li><a href="projects-details.html">Projects Details</a></li>
                                        <li class="has-child-menu"><a href="#">Demo</a>
                                            <ul class="thired-level">
                                                <li><a href="#">Demo 1</a></li>
                                                <li><a href="#">Demo 2</a></li>
                                                <li class="has-child-menu"><a href="#">Demo</a>
                                                	 <ul class="thired-level">
                                                	 	 <li><a href="#">Demo 1</a></li>
                                               			 <li><a href="#">Demo 2</a></li>
                                               		  </ul>	 
                                                 </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li><a href="#">Pages</a>
                                    <ul class="mega-menu-area">
                                        <li>
                                            <a class="active" href="index.html">Home 1</a>
                                            <a href="index1.html">Home 2</a>
                                            <a href="index2.html">Home 3</a>
                                            <a href="index3.html">Home 4</a>
                                        </li>
                                        <li>
                                            <a href="about-us.html">About Us</a>
                                            <a href="services1.html">Services 1</a>
                                            <a href="services2.html">Services 2</a>
                                            <a href="services3.html">Services 3</a>
                                        </li>
                                        <li>
                                            <a href="services-details.html">Services Details</a>
                                            <a href="projects1.html">Projects 1</a>
                                            <a href="projects2.html">Projects 2</a>
                                            <a href="projects-details.html">Projects Details</a>
                                        </li>
                                        <li>
                                            <a href="shop1.html">Shop 1</a>
                                            <a href="shop2.html">Shop 2</a>
                                            <a href="shop-details.html">Shop Details</a>
                                            <a href="news1.html">News 1</a>
                                        </li>
                                        <li>
                                            <a href="news1.html">News 2</a>
                                            <a href="news-details.html">News Details</a>
                                            <a href="team1.html">Team 1</a>
                                            <a href="team2.html">Team 2</a>
                                        </li>
                                        <li>
                                            <a href="team3.html">Team 3</a>
                                            <a href="team-details.html">Team Details</a>
                                            <a href="404.html">404</a>
                                            <a href="contact.html">Contact</a>
                                        </li>
                                    </ul>
                                </li>
                                <li><a href="#">Shop</a>
                                    <ul>
                                        <li><a href="shop1.html">Shop 1</a></li>
                                        <li><a href="shop2.html">Shop 2</a></li>
                                        <li><a href="shop-details.html">Shop Details</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">News</a>
                                    <ul>
                                        <li><a href="news1.html">News 1</a></li>
                                        <li><a href="news1.html">News 2</a></li>
                                        <li><a href="news-details.html">News Details</a></li>
                                    </ul>
                                </li>
                                <li><a href="contact.html">Contact</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-12">
                    <div class="cart-area">
                        <a href="#"><i class="fa fa-shopping-cart" aria-hidden="true"></i><span>2</span></a>
                        <ul>
                            <li>
                                <div class="cart-single-product">
                                    <div class="media">
                                        <div class="pull-left cart-product-img">
                                            <a href="#">
                                                <img class="img-responsive" alt="product" th:src="@{/static/img/cart/1.jpg}" />
                                            </a>
                                        </div>
                                        <div class="media-body cart-content">
                                            <ul>
                                                <li>
                                                    <h4><a href="#">Speed Power Blower</a></h4>
                                                    <p><span>Code:</span> STPT600</p>
                                                </li>
                                                <li>
                                                    <p>X 1</p>
                                                </li>
                                                <li>
                                                    <p>$49</p>
                                                </li>
                                                <li>
                                                    <a class="trash" href="#"><i class="fa fa-trash-o"></i></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="cart-single-product">
                                    <div class="media">
                                        <div class="pull-left cart-product-img">
                                            <a href="#">
                                                <img class="img-responsive" alt="product" th:src="@{/static/img/cart/2.jpg}" />
                                            </a>
                                        </div>
                                        <div class="media-body cart-content">
                                            <ul>
                                                <li>
                                                    <h4><a href="#">10mm Hand Drill</a></h4>
                                                    <p><span>Code:</span> STPT460</p>
                                                </li>
                                                <li>
                                                    <p>X 1</p>
                                                </li>
                                                <li>
                                                    <p>$75</p>
                                                </li>
                                                <li>
                                                    <a class="trash" href="#"><i class="fa fa-trash-o"></i></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <span><span>Sub Total</span></span><span>$124</span>
                                <span><span>Discount</span></span><span>$30</span>
                                <span><span>Vat(20%)</span></span><span>$18.8</span>
                                <span><span>Sub Total</span></span><span>$112.8</span>
                            </li>
                            <li>
                                <ul class="checkout">
                                    <li><a href="#" class="btn-checkout"><i class="fa fa-shopping-cart" aria-hidden="true"></i>View Cart</a></li>
                                    <li><a href="#" class="btn-checkout"><i class="fa fa-reply" aria-hidden="true"></i>Checkout</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Mobile Menu Area Start -->
    <div class="mobile-menu-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="mobile-menu">
                        <nav id="dropdown">
                            <ul>
                                <li><a href="#">Home</a>
                                    <ul>
                                        <li><a href="index.html">Home 1</a></li>
                                        <li><a href="index1.html">Home 2</a></li>
                                        <li><a href="index2.html">Home 3</a></li>
                                        <li><a href="index3.html">Home 4</a></li>
                                    </ul>
                                </li>
                                <li><a href="about-us.html">About Us</a></li>
                                <li><a href="#">Services</a>
                                    <ul>
                                        <li><a href="services1.html">Services 1</a></li>
                                        <li><a href="services2.html">Services 2</a></li>
                                        <li><a href="services3.html">Services 3</a></li>
                                        <li><a href="services-details.html">Services Details</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">Projects</a>
                                    <ul>
                                        <li><a href="projects1.html">Projects 1</a></li>
                                        <li><a href="projects2.html">Projects 2</a></li>
                                        <li><a href="projects-details.html">Projects Details</a></li>
                                        <li class="has-child-menu"><a href="#">Demo</a>
                                            <ul class="thired-level">
                                                <li><a href="#">Demo 1</a></li>
                                                <li><a href="#">Demo 2</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li><a href="#">Pages</a>
                                    <ul>
                                        <li><a href="index.html">Home 1</a></li>
                                        <li><a href="index1.html">Home 2</a></li>
                                        <li><a href="index2.html">Home 3</a></li>
                                        <li><a href="index3.html">Home 4</a></li>
                                        <li><a href="about-us.html">About Us</a></li>
                                        <li><a href="services1.html">Services 1</a></li>
                                        <li><a href="services2.html">Services 2</a></li>
                                        <li><a href="services3.html">Services 3</a></li>
                                        <li><a href="services-details.html">Services Details</a></li>
                                        <li><a href="projects1.html">Projects 1</a></li>
                                        <li><a href="projects2.html">Projects 2</a></li>
                                        <li><a href="projects-details.html">Projects Details</a></li>
                                        <li><a href="shop1.html">Shop 1</a></li>
                                        <li><a href="shop2.html">Shop 2</a></li>
                                        <li><a href="shop-details.html">Shop Details</a></li>
                                        <li><a href="news1.html">News 1</a></li>
                                        <li><a href="news1.html">News 2</a></li>
                                        <li><a href="news-details.html">News Details</a></li>
                                        <li><a href="team1.html">Team 1</a></li>
                                        <li><a href="team2.html">Team 2</a></li>
                                        <li><a href="team3.html">Team 3</a></li>
                                        <li><a href="team-details.html">Team Details</a></li>
                                        <li><a href="404.html">404</a></li>
                                        <li><a href="contact.html">Contact</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">Shop</a>
                                    <ul>
                                        <li><a href="shop1.html">Shop 1</a></li>
                                        <li><a href="shop2.html">Shop 2</a></li>
                                        <li><a href="shop-details.html">Shop Details</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">News</a>
                                    <ul>
                                        <li><a href="news1.html">News 1</a></li>
                                        <li><a href="news1.html">News 2</a></li>
                                        <li><a href="news-details.html">News Details</a></li>
                                    </ul>
                                </li>
                                <li><a href="contact.html">Contact</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Mobile Menu Area End -->
</div>
<script type="text/javascript" th:src="@{/static/js/web/otc-header.js}"></script>