<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<body>
<div class="container-fluid">
	<div class="block-header">
		<h2 style="font-weight: bold;">Quản lý bài viết > Thêm mới bài viết</h2>
	</div>
	<div class="row clearfix">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<div class="card">
				<div class="header">
			<div>
  				<p class="alignleft"><a th:href="@{/}" id="back-to-list-blog"><i class="material-icons">arrow_back</i></a></p>
  				<p style="padding-top: 3px;">Quay lại</p>
			</div>
					<!-- <div style="width:200px; margin:0 auto; text-align: center; font-size: 25px;">
        				Thêm mới bài viết
    				</div> -->
<!--					<a th:href="@{${'/upload/uploadmedia/Book1.xlsx'}}">DownLoad</a>-->
<!--					<ul class="header-dropdown m-r&#45;&#45;5">-->
<!--						<li class="dropdown">-->
<!--							<a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">-->
<!--								<i class="fas fa-arrow-circle-left">more_vert</i>-->
<!--							</a>-->
<!--							<ul class="dropdown-menu pull-right">-->
<!--								<li><a href="javascript:void(0);" class=" waves-effect waves-block">Action</a></li>-->
<!--								<li><a href="javascript:void(0);" class=" waves-effect waves-block">Another action</a></li>-->
<!--								<li><a href="javascript:void(0);" class=" waves-effect waves-block">Something else here</a></li>-->
<!--							</ul>-->
<!--						</li>-->
<!--					</ul>-->
				</div>
				<div class="body">
					<form th:object="${newEntryDto}" method="POST" id="formAdd">
						<th:block th:include="views/commons/message-alert.html :: content(${messageList})"/>
						<label for="td">Tiêu đề</label>
						<div class="form-group">
							<div class="form-line">
								<input type="text" th:field="*{subject}" class="form-control" placeholder="Nhập tiêu đề"/>
								<span class="help-block" th:if="${#fields.hasErrors('subject')}" th:errors="*{subject}"></span>
							</div>
						</div>
						<label for="nd">Nội dung</label>
						<div class="form-group">
							<div class="form-line">
								<textarea class="form-control" th:field="*{body}" data-error="Message field is required" th:required="true"></textarea>
								<span class="help-block" th:if="${#fields.hasErrors('body')}" th:errors="*{body}"></span>
							</div>
						</div>
						<p style="display: inline-block;">
							<b>Danh mục cấp 1</b>
						</p>
						<select class="form-control" th:field="*{categoryId}">						
						</select>
						<span class="help-block" th:if="${#fields.hasErrors('categoryId')}" th:errors="*{categoryId}"></span>
						
						<div class="form-group">
						</div>
						
						<p style="display: inline-block;">
							<b>Danh mục cấp 2</b>
						</p>
						<select class="form-control" th:field="*{subCategoryId}">						
						</select>
						
						<div class="form-group">
						</div>
						
						<label for="td">Tải ảnh đại diện</label>
						<div class="form-group">
							<div class="form-line">
								<img alt="thumb" src="#"  width="120" height="100" id="avartaImage" style='display:none'/> 
								<input type="file" name="avatarFile" id="avatarFile"/>
								<span class="help-block" th:if="${#fields.hasErrors('avatarFile')}" th:errors="*{avatarFile}"></span>
							</div>
						</div>

						<br />
						<button  class="btn btn-primary m-t-15 waves-effect btnSave">Lưu</button>
					</form>
				</div>
			</div>
		</div>
	</div>
	
	<script type="text/javascript" th:src="@{/static/js/admin/blog/blog-add.js}"></script>
</div>

</body>	
</html>

