<title>Khóa học chứng khoán - OTC TMG Group</title>
<div xmlns="http://www.w3.org/1999/xhtml"
     xmlns:th="http://www.thymeleaf.org">
    <!-- Inner page Header Banner Area Start Here -->
    <link rel="stylesheet" th:href="@{/static/css/mycss/web-course-detail.css}"/>

    <!-- Inner page Header Banner Area Start Here -->
    <div class="header-bennar-area">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="header-bennar-left">
                        <h2>Product Details</h2>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="header-bennar-right">
                        <ul>
                            <li><a href="#">Home</a> /</li>
                            <li>Shop</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Inner page Header Banner Area End Here -->
    <!-- Page Shop Details Area Start Here -->
    <div class="page-shop-details-area section-space">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12">
                    <div class="inner-shop-details">
                        <div class="row">
                            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
                                <div class="inner-product-details-left" style="width: 310px; height: 235px; margin: auto">
                                    <a href="#"><img alt="single" src="https://myclass.vn/UploadedFiles/images/Foody_android_firebase.jpg" class="img-responsive" style="height: 100%"/></a>
                                </div>
                            </div>
                            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
                                <div class="inner-product-details-right">
                                    <h3 class="sub-title">Mid Hand Drill Kit</h3>
                                    <ul>
                                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                        <li><i class="fa fa-star" aria-hidden="true"></i>(1 customer review)</li>
                                    </ul>
                                    <p class="price">$59.00</p>
                                    <span class="solid-underline">SKU: 0010</span>
                                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tinc amet risus consectetur, non consectetur nisl finibus. Ut ac eros quis mi volutpat cursus vel non risus.</p>
                                    <div class="product-cart-area">
                                        <a class="btn btn-cart" href="#">Add to cart</a>
                                        <form>
                                            <fieldset>
                                                <div class="form-group">
                                                    <input type="text" placeholder="1" class="form-control"/>
                                                </div>
                                            </fieldset>
                                        </form>
                                    </div>
                                    <p><span>Category: </span>Other</p>
                                    <p><span>Tag: </span>Musical Instrument, Saxophone</p>
                                </div>
                            </div>
                        </div>
                        <div class="product-details-tab-area">
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <ul>
                                        <li class="active"><a href="#description" data-toggle="tab" aria-expanded="false">Description</a></li>
                                        <li><a href="#review" data-toggle="tab" aria-expanded="false">Review</a></li>
                                        <li><a href="#information" data-toggle="tab" aria-expanded="false">Information</a></li>
                                    </ul>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <div class="tab-content">
                                        <div class="tab-pane fade active in" id="description">
                                            <p>Porem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam.</p>
                                        </div>
                                        <div class="tab-pane fade" id="review">
                                            <p>Porem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam.</p>
                                        </div>
                                        <div class="tab-pane fade" id="information">
                                            <p>Porem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="related-products">
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <h3 class="sub-title">Related Products</h3>
                                </div>
                            </div>
                            <div class="kon-carousel inner-section-space-top30"
                                 data-loop="true"
                                 data-items="3"
                                 data-margin="30"
                                 data-autoplay="false"
                                 data-autoplay-timeout="10000"
                                 data-smart-speed="2000"
                                 data-dots="false"
                                 data-nav="true"
                                 data-nav-speed="false"
                                 data-r-x-small="1"
                                 data-r-x-small-nav="true"
                                 data-r-x-small-dots="false"
                                 data-r-x-medium="2"
                                 data-r-x-medium-nav="true"
                                 data-r-x-medium-dots="false"
                                 data-r-small="2"
                                 data-r-small-nav="true"
                                 data-r-small-dots="false"
                                 data-r-medium="3"
                                 data-r-medium-nav="true"
                                 data-r-medium-dots="false"
                                 data-r-large="3"
                                 data-r-large-nav="true"
                                 data-r-large-dots="false">
                                <div class="shop-1-box">
                                    <a href="#">
                                        <img alt="online-store1" src="img/shop/1.jpg" class="img-responsive"/>
                                    </a>
                                    <div class="overlay">
                                        <div class="active-in-hover">
                                            <ul>
                                                <li><a href="#"><i aria-hidden="true" class="fa fa-shopping-cart"></i></a></li>
                                                <li><a href="#"><i aria-hidden="true" class="fa fa-heart-o"></i></a></li>
                                                <li><a href="#"><i aria-hidden="true" class="fa fa-compress"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="shop-1-box-content">
                                        <h4>Mid Hand Drill Kit</h4>
                                        <ul>
                                            <li><i aria-hidden="true" class="fa fa-star"></i></li>
                                            <li><i aria-hidden="true" class="fa fa-star"></i></li>
                                            <li><i aria-hidden="true" class="fa fa-star"></i></li>
                                            <li><i aria-hidden="true" class="fa fa-star"></i></li>
                                            <li><i aria-hidden="true" class="fa fa-star"></i></li>
                                        </ul>
                                        <span>$59.00</span>
                                    </div>
                                </div>
                                <div class="shop-1-box">
                                    <a href="#">
                                        <img alt="online-store1" src="img/shop/2.jpg" class="img-responsive"/>
                                    </a>
                                    <div class="overlay">
                                        <div class="active-in-hover">
                                            <ul>
                                                <li><a href="#"><i aria-hidden="true" class="fa fa-shopping-cart"></i></a></li>
                                                <li><a href="#"><i aria-hidden="true" class="fa fa-heart-o"></i></a></li>
                                                <li><a href="#"><i aria-hidden="true" class="fa fa-compress"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="shop-1-box-content">
                                        <h4>Mid Hand Drill Kit</h4>
                                        <ul>
                                            <li><i aria-hidden="true" class="fa fa-star"></i></li>
                                            <li><i aria-hidden="true" class="fa fa-star"></i></li>
                                            <li><i aria-hidden="true" class="fa fa-star"></i></li>
                                            <li><i aria-hidden="true" class="fa fa-star"></i></li>
                                            <li><i aria-hidden="true" class="fa fa-star"></i></li>
                                        </ul>
                                        <span>$59.00</span>
                                    </div>
                                </div>
                                <div class="shop-1-box">
                                    <a href="#">
                                        <img alt="online-store1" src="img/shop/3.jpg" class="img-responsive"/>
                                    </a>
                                    <div class="overlay">
                                        <div class="active-in-hover">
                                            <ul>
                                                <li><a href="#"><i aria-hidden="true" class="fa fa-shopping-cart"></i></a></li>
                                                <li><a href="#"><i aria-hidden="true" class="fa fa-heart-o"></i></a></li>
                                                <li><a href="#"><i aria-hidden="true" class="fa fa-compress"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="shop-1-box-content">
                                        <h4>Mid Hand Drill Kit</h4>
                                        <ul>
                                            <li><i aria-hidden="true" class="fa fa-star"></i></li>
                                            <li><i aria-hidden="true" class="fa fa-star"></i></li>
                                            <li><i aria-hidden="true" class="fa fa-star"></i></li>
                                            <li><i aria-hidden="true" class="fa fa-star"></i></li>
                                            <li><i aria-hidden="true" class="fa fa-star"></i></li>
                                        </ul>
                                        <span>$59.00</span>
                                    </div>
                                </div>
                                <div class="shop-1-box">
                                    <a href="#">
                                        <img alt="online-store1" src="img/shop/4.jpg" class="img-responsive"/>
                                    </a>
                                    <div class="overlay">
                                        <div class="active-in-hover">
                                            <ul>
                                                <li><a href="#"><i aria-hidden="true" class="fa fa-shopping-cart"></i></a></li>
                                                <li><a href="#"><i aria-hidden="true" class="fa fa-heart-o"></i></a></li>
                                                <li><a href="#"><i aria-hidden="true" class="fa fa-compress"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="shop-1-box-content">
                                        <h4>Mid Hand Drill Kit</h4>
                                        <ul>
                                            <li><i aria-hidden="true" class="fa fa-star"></i></li>
                                            <li><i aria-hidden="true" class="fa fa-star"></i></li>
                                            <li><i aria-hidden="true" class="fa fa-star"></i></li>
                                            <li><i aria-hidden="true" class="fa fa-star"></i></li>
                                            <li><i aria-hidden="true" class="fa fa-star"></i></li>
                                        </ul>
                                        <span>$59.00</span>
                                    </div>
                                </div>
                                <div class="shop-1-box">
                                    <a href="#">
                                        <img alt="online-store1" src="img/shop/5.jpg" class="img-responsive"/>
                                    </a>
                                    <div class="overlay">
                                        <div class="active-in-hover">
                                            <ul>
                                                <li><a href="#"><i aria-hidden="true" class="fa fa-shopping-cart"></i></a></li>
                                                <li><a href="#"><i aria-hidden="true" class="fa fa-heart-o"></i></a></li>
                                                <li><a href="#"><i aria-hidden="true" class="fa fa-compress"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="shop-1-box-content">
                                        <h4>Mid Hand Drill Kit</h4>
                                        <ul>
                                            <li><i aria-hidden="true" class="fa fa-star"></i></li>
                                            <li><i aria-hidden="true" class="fa fa-star"></i></li>
                                            <li><i aria-hidden="true" class="fa fa-star"></i></li>
                                            <li><i aria-hidden="true" class="fa fa-star"></i></li>
                                            <li><i aria-hidden="true" class="fa fa-star"></i></li>
                                        </ul>
                                        <span>$59.00</span>
                                    </div>
                                </div>
                                <div class="shop-1-box">
                                    <a href="#">
                                        <img alt="online-store1" src="img/shop/6.jpg" class="img-responsive"/>
                                    </a>
                                    <div class="overlay">
                                        <div class="active-in-hover">
                                            <ul>
                                                <li><a href="#"><i aria-hidden="true" class="fa fa-shopping-cart"></i></a></li>
                                                <li><a href="#"><i aria-hidden="true" class="fa fa-heart-o"></i></a></li>
                                                <li><a href="#"><i aria-hidden="true" class="fa fa-compress"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="shop-1-box-content">
                                        <h4>Mid Hand Drill Kit</h4>
                                        <ul>
                                            <li><i aria-hidden="true" class="fa fa-star"></i></li>
                                            <li><i aria-hidden="true" class="fa fa-star"></i></li>
                                            <li><i aria-hidden="true" class="fa fa-star"></i></li>
                                            <li><i aria-hidden="true" class="fa fa-star"></i></li>
                                            <li><i aria-hidden="true" class="fa fa-star"></i></li>
                                        </ul>
                                        <span>$59.00</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                    <div class="sidebar">
                        <div class="search-box">
                            <h3 class="sidebar-search-title">Search</h3>
                            <div class="input-group stylish-input-group">
                                <input type="text" placeholder="Search here..." class="form-control"/>
                                <span class="input-group-addon">
                                    <button type="submit">
                                        <span class="glyphicon glyphicon-search"></span>
                                    </button>
                                </span>
                            </div>
                        </div>
                        <div class="categories-box">
                            <h3 class="sidebar-title">Categories</h3>
                            <ul>
                                <li class="solid-underline"><a href="#"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Road Construction</a></li>
                                <li class="solid-underline"><a href="#"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Building</a></li>
                                <li class="solid-underline"><a href="#"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Public transport</a></li>
                                <li class="solid-underline"><a href="#"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Bridge Construction</a></li>
                                <li class="solid-underline"><a href="#"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Renovation</a></li>
                                <li><a href="#"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>Painting House</a></li>
                            </ul>
                        </div>
                        <div class="popular-tags-box margin-b-0">
                            <h3 class="sidebar-title">Popular Tags</h3>
                            <ul>
                                <li><a href="#">Dress</a></li>
                                <li><a href="#">Drill Eqmty</a></li>
                                <li><a href="#">Food</a></li>
                                <li><a href="#">Food</a></li>
                                <li><a href="#">Dress</a></li>
                                <li><a href="#">Drill Eqmty</a></li>
                                <li><a href="#">Drill Eqmty</a></li>
                                <li><a href="#">Food</a></li>
                                <li><a href="#">Dress</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Page Shop 1 Area End Here -->
    <!-- Brand Area Start Here -->
    <div class="brand-area">
        <div class="container">
            <div class="brand kon-carousel"
                 data-loop="true"
                 data-items="6"
                 data-margin="30"
                 data-autoplay="true"
                 data-autoplay-timeout="10000"
                 data-smart-speed="2000"
                 data-dots="false"
                 data-nav="true"
                 data-nav-speed="false"
                 data-r-x-small="2"
                 data-r-x-small-nav="true"
                 data-r-x-small-dots="false"
                 data-r-x-medium="3"
                 data-r-x-medium-nav="true"
                 data-r-x-medium-dots="false"
                 data-r-small="4"
                 data-r-small-nav="true"
                 data-r-small-dots="false"
                 data-r-medium="5"
                 data-r-medium-nav="true"
                 data-r-medium-dots="false"
                 data-r-large="6"
                 data-r-large-nav="true"
                 data-r-large-dots="false">
                <div class="brand-box">
                    <a href="#"><img class="img-responsive" src="img/brand/1.png" alt="brand1"/></a>
                </div>
                <div class="brand-box">
                    <a href="#"><img class="img-responsive" src="img/brand/2.png" alt="brand2"/></a>
                </div>
                <div class="brand-box">
                    <a href="#"><img class="img-responsive" src="img/brand/3.png" alt="brand3"/></a>
                </div>
                <div class="brand-box">
                    <a href="#"><img class="img-responsive" src="img/brand/4.png" alt="brand4"/></a>
                </div>
                <div class="brand-box">
                    <a href="#"><img class="img-responsive" src="img/brand/5.png" alt="brand5"/></a>
                </div>
                <div class="brand-box">
                    <a href="#"><img class="img-responsive" src="img/brand/6.png" alt="brand6"/></a>
                </div>
                <div class="brand-box">
                    <a href="#"><img class="img-responsive" src="img/brand/1.png" alt="brand1"/></a>
                </div>
                <div class="brand-box">
                    <a href="#"><img class="img-responsive" src="img/brand/2.png" alt="brand2"/></a>
                </div>
                <div class="brand-box">
                    <a href="#"><img class="img-responsive" src="img/brand/3.png" alt="brand3"/></a>
                </div>
                <div class="brand-box">
                    <a href="#"><img class="img-responsive" src="img/brand/4.png" alt="brand4"/></a>
                </div>
                <div class="brand-box">
                    <a href="#"><img class="img-responsive" src="img/brand/5.png" alt="brand5"/></a>
                </div>
                <div class="brand-box">
                    <a href="#"><img class="img-responsive" src="img/brand/6.png" alt="brand6"/></a>
                </div>
            </div>
        </div>
    </div>
    <!-- Brand Area End Here -->


</div>
