<title>Danh sách bài viết - OTC TMG Group</title>
<div xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
	<!-- Inner page Header Banner Area Start Here -->
	<link rel="stylesheet" th:href="@{/static/css/mycss/web-entrylist.css}"/>
	<div class="header-bennar-area">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
					<div class="header-bennar-left">
						<h2 class="text-capitalize" th:text="${category.categoryName}">Lasted
							News</h2>
					</div>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
					<div class="header-bennar-right">
						<ul>
							<li><a th:href="@{/}">Trang chủ</a> /</li>
							<li class="text-capitalize" th:text="${category.categoryName}">News</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Inner page Header Banner Area End Here -->
	<!-- Page News Area Start Here -->
	<div class="page-news-area section-space-b-less-30">
		<div class="container">
			<div class="row">
				<div class="col-lg-9 col-md-9 col-sm-8 col-xs-12 main_content">
					<div class="inner-page-news-area body-content">
						<div class="row row-eq-height">
							<th:block th:each="entry : ${pageWrapperDto.data}">
								<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
									<div class="inner-page-news-box">
										<div class="inner-news-box-top">
											<div class="news-published">
												<p class="news-date" th:inline="text">
													[[${entry.day}]] <br /> [[${'T.' + entry.month}]]
												</p>
												<p class="news-year" th:text="${entry.year}">2016</p>
											</div>
											<img alt="news1" th:src="@{${entry.avatarPath}}" style="height: 244px; width: 409px"
												class="img-responsive" />
										</div>
										<div class="inner-news-box-bottom">
											<h4>
												<a th:href="@{'/entrydetail/'+${entry.id}}" th:text="${#strings.abbreviate(entry.subject,70)}">How To Make
													Impressive Designs</a>
											</h4>
											<div class="entry-body">
												<th:block th:utext="${entry.body}" />
											</div>
											<a class="btn-read-more" th:href="@{'/entrydetail/' + ${entry.id}}">Read More<i
												aria-hidden="true" class="fa fa-chevron-right"></i></a>
										</div>
									</div>
								</div>
							</th:block>

						</div>

						<div class="container-fluid">
							<nav aria-label="Page navigation">
								<ul class="pagination mt-5" id="pagination"></ul>
							</nav>
						</div>

						<script th:inline="text">
							$(document).ready(function(){ 
								var startPage = [[${pageWrapperDto.startPage}]];
								var totalPages = [[${pageWrapperDto.totalPages}]];
								var pageSize = [[${pageWrapperDto.pageSize}]];
								var categoryId = [[${category.categoryId}]];
							
								
								$('#pagination').twbsPagination({
									totalPages: totalPages,
									visiblePages: pageSize,
									startPage: startPage,
									initiateStartPageClick: false,
									onPageClick: function (event, page) {
									    //init data
									    var data = {};
									    data['categoryId'] = categoryId;
									    data['page'] = page;
									    data['pageSize'] = pageSize;
									    var url = BASE_URL + 'entrylist';
									    
									    //call ajax
									    $.ajax({
											type : "POST",
											url: url,
											data: data,
											success: function(data){
												var content = $(data).find('.body-content');
												$(".main_content").html(content);
					 							goTopPage();
											},
											error: function(error){
												console.log(error);
											}
										});
									}
								});
							
							});
							
							$('.entry-body').each(function () {
						        var check_p_ckEditor = $(this).find('p')[0];
						        var check_img = $(check_p_ckEditor).find('img');
						        if(check_img.length > 0) {
						            $(check_img).css({'display':'none'});
						        }
						        var getContentPTag = $(this).find('p');
						        var setContentPTag = "";
						        $(getContentPTag).each(function () {
						            setContentPTag += $(this).text() + " ";
						        });
						        var setContentLimit = setContentPTag.substring(0, 200);
						        console.log(setContentLimit.trim());
						        $(this).html(setContentLimit + " ... ");
						    });
						</script>
					</div>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
					<div class="sidebar">
						<form th:object="${searchDto}" method="POST">
							<div class="search-box">
								<h3 class="sidebar-search-title">Search</h3>
								<div class="input-group stylish-input-group">
									<input type="text" th:field="*{searchValue}" class="form-control"
										placeholder="Search here..." /> <span
										class="input-group-addon">
										<button type="submit" id="btnSearch">
											<i class="fa fa-search"></i>
										</button>
									</span>
									<input type="hidden" th:field="*{subCategoryId}" class="form-control"/>
								</div>
							</div>
						</form>
						<div class="recent-news-box">
							<h3 class="sidebar-title">Recent News</h3>
							<th:block
								th:if="${newestEntries != null and !newestEntries.isEmpty()}">
								<th:block th:each="entry : ${newestEntries}">
									<div class="media solid-underline">
										<a class="pull-left" th:href="@{'/entrydetail/' + ${entry.id}}"> <img class="media-object img-responsive" style="width: 75px; height: 69px;"
											th:src="@{${entry.avatarPath}}"
											alt="Generic placeholder image" />
										</a>
										<div class="media-body">
											<p>
												<span th:inline="text">Tháng [[${entry.month}]] <br /> [[${entry.day}]], [[${entry.year}]]</span>
											</p>
											<p th:text="${entry.subject}">Deolor sit amet consectetr adipisicing elit.</p>
										</div>
									</div>
								</th:block>
							</th:block>

							<!-- <div class="media solid-underline">
								<a class="pull-left" href="#"> <img class="media-object"
									th:src="@{/static/img/sidebar-type1/recent-news/2.jpg}"
									alt="Generic placeholder image" />
								</a>
								<div class="media-body">
									<p>
										<span>November <br /> 2, 2015</span>
									</p>
									<p>Deolor sit amet consectetr adipisicing elit.</p>
								</div>
							</div> -->
							<!-- <div class="media">
								<a class="pull-left" href="#"> <img class="media-object"
									src="img/sidebar-type1/recent-news/3.jpg"
									alt="Generic placeholder image" />
								</a>
								<div class="media-body">
									<p>
										<span>November 2, 2015</span>
									</p>
									<p>Deolor sit amet consectetr adipisicing elit.</p>
								</div>
							</div> -->
						</div>
						<!-- <div class="popular-tags-box">
							<h3 class="sidebar-title">Popular Tags</h3>
							<ul>
								<li><a href="#">Dress</a></li>
								<li><a href="#">Drill Eqmty</a></li>
								<li><a href="#">Food</a></li>
								<li><a href="#">Food</a></li>
								<li><a href="#">Dress</a></li>
								<li><a href="#">Drill Eqmty</a></li>
								<li><a href="#">Drill Eqmty</a></li>
								<li><a href="#">Food</a></li>
								<li><a href="#">Dress</a></li>
							</ul>
						</div> -->
						<!-- <div class="shopnow-box">
							<p>15% Off</p>
							<a href="#" class="btn-shopnow">Shop Now</a>
						</div> -->
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Page News Area End Here -->
	<!-- Brand Area Start Here -->
	<div class="brand-area">
		<div class="container">
			<div class="brand kon-carousel" data-loop="true" data-items="6"
				data-margin="30" data-autoplay="true" data-autoplay-timeout="10000"
				data-smart-speed="2000" data-dots="false" data-nav="true"
				data-nav-speed="false" data-r-x-small="2" data-r-x-small-nav="true"
				data-r-x-small-dots="false" data-r-x-medium="3"
				data-r-x-medium-nav="true" data-r-x-medium-dots="false"
				data-r-small="4" data-r-small-nav="true" data-r-small-dots="false"
				data-r-medium="5" data-r-medium-nav="true"
				data-r-medium-dots="false" data-r-large="6" data-r-large-nav="true"
				data-r-large-dots="false">
				<div class="brand-box">
					<a href="#"><img class="img-responsive"
						th:src="@{/static/img/brand/1.png}" alt="brand1" /></a>
				</div>
				<div class="brand-box">
					<a href="#"><img class="img-responsive"
						th:src="@{/static/img/brand/2.png}" alt="brand2" /></a>
				</div>
				<div class="brand-box">
					<a href="#"><img class="img-responsive"
						th:src="@{/static/img/brand/3.png}" alt="brand3" /></a>
				</div>
				<div class="brand-box">
					<a href="#"><img class="img-responsive"
						th:src="@{/static/img/brand/4.png}" alt="brand4" /></a>
				</div>
				<div class="brand-box">
					<a href="#"><img class="img-responsive"
						th:src="@{/static/img/brand/5.png}" alt="brand5" /></a>
				</div>
				<div class="brand-box">
					<a href="#"><img class="img-responsive"
						th:src="@{/static/img/brand/6.png}" alt="brand6" /></a>
				</div>
				<div class="brand-box">
					<a href="#"><img class="img-responsive"
						th:src="@{/static/img/brand/1.png}" alt="brand1" /></a>
				</div>
				<div class="brand-box">
					<a href="#"><img class="img-responsive"
						th:src="@{/static/img/brand/2.png}" alt="brand2" /></a>
				</div>
				<div class="brand-box">
					<a href="#"><img class="img-responsive"
						th:src="@{/static/img/brand/3.png}" alt="brand3" /></a>
				</div>
				<div class="brand-box">
					<a href="#"><img class="img-responsive"
						th:src="@{/static/img/brand/4.png}" alt="brand4" /></a>
				</div>
				<div class="brand-box">
					<a href="#"><img class="img-responsive"
						th:src="@{/static/img/brand/5.png}" alt="brand5" /></a>
				</div>
				<div class="brand-box">
					<a href="#"><img class="img-responsive"
						th:src="@{/static/img/brand/6.png}" alt="brand6" /></a>
				</div>
			</div>
		</div>
	</div>
	<script th:src="@{/static/js/web/web-entrylist.js}" th:attr="asyns='true'"></script>
</div>


