<title>Danh sách bài viết - OTC TMG Group</title>
<div xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
	<!-- Inner page Header Banner Area Start Here -->
	<div class="header-bennar-area">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
					<div class="header-bennar-left">
						<h2>Latest News</h2>
					</div>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
					<div class="header-bennar-right">
						<ul>
							<li><a href="#">Home</a> /</li>
							<li>News</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Inner page Header Banner Area End Here -->
	<!-- Page News Area Start Here -->
	<div class="page-news-area section-space-b-less-30">
		<div class="container">
			<div class="row">
				<div class="col-lg-9 col-md-9 col-sm-8 col-xs-12">
					<div class="inner-page-news-area">
						<div class="row">
							<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
								<div class="inner-page-news-box">
									<div class="inner-news-box-top">
										<div class="news-published">
											<p class="news-date">
												05 <br/> Jul
											</p>
											<p class="news-year">2016</p>
										</div>
										<img alt="news1" th:src="@{/static/img/news/page-news-1.jpg}"
											class="img-responsive" />
									</div>
									<div class="inner-news-box-bottom">
										<h4>
											<a href="#">How To Make Impressive Designs</a>
										</h4>
										<p>In pro diam quas interesset, eu sit partem
											inimicusumsan assentior mei,consetetur…</p>
										<a class="btn-read-more" href="#">Read More<i
											aria-hidden="true" class="fa fa-chevron-right"></i></a>
									</div>
								</div>
							</div>
							<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
								<div class="inner-page-news-box">
									<div class="inner-news-box-top">
										<div class="news-published">
											<p class="news-date">
												05 <br /> Jul
											</p>
											<p class="news-year">2016</p>
										</div>
										<img alt="news1" th:src="@{/static/img/news/page-news-2.jpg}"
											class="img-responsive" />
									</div>
									<div class="inner-news-box-bottom">
										<h4>
											<a href="#">How To Make Impressive Designs</a>
										</h4>
										<p>In pro diam quas interesset, eu sit partem
											inimicusumsan assentior mei,consetetur…</p>
										<a class="btn-read-more" href="#">Read More<i
											aria-hidden="true" class="fa fa-chevron-right"></i></a>
									</div>
								</div>
							</div>
							<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
								<div class="inner-page-news-box">
									<div class="inner-news-box-top">
										<div class="news-published">
											<p class="news-date">
												05 <br/> Jul
											</p>
											<p class="news-year">2016</p>
										</div>
										<img alt="news1" th:src="@{/static/img/news/page-news-3.jpg}"
											class="img-responsive" />
									</div>
									<div class="inner-news-box-bottom">
										<h4>
											<a href="#">How To Make Impressive Designs</a>
										</h4>
										<p>In pro diam quas interesset, eu sit partem
											inimicusumsan assentior mei,consetetur…</p>
										<a class="btn-read-more" href="#">Read More<i
											aria-hidden="true" class="fa fa-chevron-right"></i></a>
									</div>
								</div>
							</div>
							<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
								<div class="inner-page-news-box">
									<div class="inner-news-box-top">
										<div class="news-published">
											<p class="news-date">
												05 <br/> Jul
											</p>
											<p class="news-year">2016</p>
										</div>
										<img alt="news1" th:src="@{/static/img/news/page-news-4.jpg}"
											class="img-responsive" />
									</div>
									<div class="inner-news-box-bottom">
										<h4>
											<a href="#">How To Make Impressive Designs</a>
										</h4>
										<p>In pro diam quas interesset, eu sit partem
											inimicusumsan assentior mei,consetetur…</p>
										<a class="btn-read-more" href="#">Read More<i
											aria-hidden="true" class="fa fa-chevron-right"></i></a>
									</div>
								</div>
							</div>
							<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
								<div class="inner-page-news-box">
									<div class="inner-news-box-top">
										<div class="news-published">
											<p class="news-date">
												05 <br/> Jul
											</p>
											<p class="news-year">2016</p>
										</div>
										<img alt="news1" th:src="@{/static/img/news/page-news-5.jpg}"
											class="img-responsive" />
									</div>
									<div class="inner-news-box-bottom">
										<h4>
											<a href="#">How To Make Impressive Designs</a>
										</h4>
										<p>In pro diam quas interesset, eu sit partem
											inimicusumsan assentior mei,consetetur…</p>
										<a class="btn-read-more" href="#">Read More<i
											aria-hidden="true" class="fa fa-chevron-right"></i></a>
									</div>
								</div>
							</div>
							<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
								<div class="inner-page-news-box">
									<div class="inner-news-box-top">
										<div class="news-published">
											<p class="news-date">
												05 <br/> Jul
											</p>
											<p class="news-year">2016</p>
										</div>
										<img alt="news1" th:src="@{/static/img/news/page-news-6.jpg}"
											class="img-responsive" />
									</div>
									<div class="inner-news-box-bottom">
										<h4>
											<a href="#">How To Make Impressive Designs</a>
										</h4>
										<p>In pro diam quas interesset, eu sit partem
											inimicusumsan assentior mei,consetetur…</p>
										<a class="btn-read-more" href="#">Read More<i
											aria-hidden="true" class="fa fa-chevron-right"></i></a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
					<div class="sidebar">
						<div class="search-box">
							<h3 class="sidebar-search-title">Search</h3>
							<div class="input-group stylish-input-group">
								<input type="text" class="form-control"
									placeholder="Search here..." /> <span
									class="input-group-addon">
									<button type="submit">
										<span class="glyphicon glyphicon-search"></span>
									</button>
								</span>
							</div>
						</div>
						<div class="recent-news-box">
							<h3 class="sidebar-title">Recent News</h3>
							<div class="media solid-underline">
								<a class="pull-left" href="#"> <img class="media-object"
									src="img/sidebar-type1/recent-news/1.jpg"
									alt="Generic placeholder image" />
								</a>
								<div class="media-body">
									<p>
										<span>November 2, 2015</span>
									</p>
									<p>Deolor sit amet consectetr adipisicing elit.</p>
								</div>
							</div>
							<div class="media solid-underline">
								<a class="pull-left" href="#"> <img class="media-object"
									src="img/sidebar-type1/recent-news/2.jpg"
									alt="Generic placeholder image" />
								</a>
								<div class="media-body">
									<p>
										<span>November 2, 2015</span>
									</p>
									<p>Deolor sit amet consectetr adipisicing elit.</p>
								</div>
							</div>
							<div class="media">
								<a class="pull-left" href="#"> <img class="media-object"
									src="img/sidebar-type1/recent-news/3.jpg"
									alt="Generic placeholder image" />
								</a>
								<div class="media-body">
									<p>
										<span>November 2, 2015</span>
									</p>
									<p>Deolor sit amet consectetr adipisicing elit.</p>
								</div>
							</div>
						</div>
						<div class="popular-tags-box">
							<h3 class="sidebar-title">Popular Tags</h3>
							<ul>
								<li><a href="#">Dress</a></li>
								<li><a href="#">Drill Eqmty</a></li>
								<li><a href="#">Food</a></li>
								<li><a href="#">Food</a></li>
								<li><a href="#">Dress</a></li>
								<li><a href="#">Drill Eqmty</a></li>
								<li><a href="#">Drill Eqmty</a></li>
								<li><a href="#">Food</a></li>
								<li><a href="#">Dress</a></li>
							</ul>
						</div>
						<div class="shopnow-box">
							<p>15% Off</p>
							<a href="#" class="btn-shopnow">Shop Now</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Page News Area End Here -->
	<!-- Brand Area Start Here -->
	<div class="brand-area">
	<div class="container">
		<div class="brand kon-carousel" data-loop="true" data-items="6"
			data-margin="30" data-autoplay="true" data-autoplay-timeout="10000"
			data-smart-speed="2000" data-dots="false" data-nav="true"
			data-nav-speed="false" data-r-x-small="2" data-r-x-small-nav="true"
			data-r-x-small-dots="false" data-r-x-medium="3"
			data-r-x-medium-nav="true" data-r-x-medium-dots="false"
			data-r-small="4" data-r-small-nav="true" data-r-small-dots="false"
			data-r-medium="5" data-r-medium-nav="true" data-r-medium-dots="false"
			data-r-large="6" data-r-large-nav="true" data-r-large-dots="false">
			<div class="brand-box">
				<a href="#"><img class="img-responsive" th:src="@{/static/img/brand/1.png}" 
					alt="brand1" /></a>
			</div>
			<div class="brand-box">
				<a href="#"><img class="img-responsive" th:src="@{/static/img/brand/2.png}" 
					alt="brand2" /></a>
			</div>
			<div class="brand-box">
				<a href="#"><img class="img-responsive" th:src="@{/static/img/brand/3.png}" 
					alt="brand3" /></a>
			</div>
			<div class="brand-box">
				<a href="#"><img class="img-responsive" th:src="@{/static/img/brand/4.png}" 
					alt="brand4" /></a>
			</div>
			<div class="brand-box">
				<a href="#"><img class="img-responsive" th:src="@{/static/img/brand/5.png}" 
					alt="brand5" /></a>
			</div>
			<div class="brand-box">
				<a href="#"><img class="img-responsive" th:src="@{/static/img/brand/6.png}" 
					alt="brand6" /></a>
			</div>
			<div class="brand-box">
				<a href="#"><img class="img-responsive" th:src="@{/static/img/brand/1.png}" 
					alt="brand1" /></a>
			</div>
			<div class="brand-box">
				<a href="#"><img class="img-responsive" th:src="@{/static/img/brand/2.png}" 
					alt="brand2" /></a>
			</div>
			<div class="brand-box">
				<a href="#"><img class="img-responsive" th:src="@{/static/img/brand/3.png}" 
					alt="brand3" /></a>
			</div>
			<div class="brand-box">
				<a href="#"><img class="img-responsive" th:src="@{/static/img/brand/4.png}" 
					alt="brand4" /></a>
			</div>
			<div class="brand-box">
				<a href="#"><img class="img-responsive" th:src="@{/static/img/brand/5.png}" 
					alt="brand5" /></a>
			</div>
			<div class="brand-box">
				<a href="#"><img class="img-responsive" th:src="@{/static/img/brand/6.png}" 
					alt="brand6" /></a>
			</div>
		</div>
	</div>
</div>
</div>
