<link rel="stylesheet" th:href="@{/static/css/mycss/web-user.css}" />
<div class="container-fluid" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
	<div class="block-header">
		<h2>Thông tin người dùng</h2>
	</div>

	<div class="row clearfix">
		<!-- With Captions -->
			<div class="col-md-4">
				<div class="portlet light profile-sidebar-portlet bordered">
					<div class="profile-userpic">
						<!-- <img src="https://bootdey.com/img/Content/avatar/avatar6.png" class="img-responsive" alt="" />  -->
						<img th:src="@{${userDto.avatarPath}}" class="img-responsive"
							alt="avatar user" />
					</div>
					<div class="profile-usertitle">
						<div class="profile-usertitle-name">
							<span th:text="${#authentication.principal.username}"></span>
						</div>
						<div class="profile-usertitle-job">
							<span th:text="${#authentication.principal.email}"></span>
						</div>
					</div>
					<!-- <div class="profile-userbuttons">
				                <button type="button" class="btn btn-info  btn-sm">Follow</button>
				                <button type="button" class="btn btn-info  btn-sm">Message</button>
				            </div> -->
				</div>
			</div>
			<!-- <div class="main_content">
				<div class="body-content"> -->
					<div class="col-md-8">
						<div class="portlet light bordered">
		
							<!-- <div class="portlet-title tabbable-line">
								<div class="caption caption-md">
									<i class="icon-globe theme-font hide"></i> <span
										class="caption-subject font-blue-madison bold uppercase">Thông
										tin cá nhân</span>
								</div>
							</div> -->
							<div class="portlet-body">
								<div>
									<ul class="nav nav-tabs">
										<li class="active"><a href="#home" data-toggle="tab">Thông tin cá nhân</a></li>
										<li><a href="#profile" data-toggle="tab">Thay đổi mật khẩu</a></li>
									</ul>
									<div class="tab-content">
										<div class="tab-pane active in" id="home">
											<form th:object="${userDto}" method="POST" id="formInfoUser">
												<th:block
													th:include="views/commons/message-alert.html :: content(${messageList})" />
													
												<label for="userName">Tên đăng nhập</label>
												<div class="form-group">
														 <input
															type="text" class="form-control" th:field="*{userName}"
															placeholder="Tên đăng nhập" />
												</div>
												
												<label for="fullName">Họ và Tên</label> 
												<div class="form-group">
														<input type="text"
															class="form-control" th:field="*{fullName}"
															placeholder="Họ và tên" />
												</div>
												
												<label for="email">Email</label> 
												<div class="form-group">
													<input type="email"
														class="form-control" th:field="*{email}" placeholder="Email" />
												</div>
												
												<label for="telephone">Số điện thoại</label> 
												<div class="form-group">
													<input
														type="text" class="form-control" th:field="*{telephone}"
														placeholder="Số điện thoại" />
												</div>
												
												<label for="address">Địa chỉ</label> 
												<div class="form-group">
													<input type="text"
														class="form-control" th:field="*{address}"
														placeholder="Địa chỉ" />
												</div>
												
												<label for="avatar">Ảnh đại diện</label> 
												<div class="form-group">
													<input type="hidden"
														th:field="*{avatarPath}" class="form-control" /> <img
														alt="thump" src="" width="120" height="100" id="avartaImage"
														style="display: none" /> <input type="file" name="avatar"
														id="avatar" />
												</div>
												<input type="hidden" th:field="*{userId}"/>
												<button type="submit" class="btn btn-primary m-t-15 waves-effect btnSave">Submit</button>
												
											</form>
										</div>
										<div class="tab-pane fade" id="profile">
						                        <form th:object="${userDto}" method="POST" id="formUserPass">
						                        	<th:block th:include="views/commons/message-alert.html :: content(${messageList})"/>
						                              <div class="form-group">
						                                <label for="password">Mật khẩu hiện tại</label>
						                                <input type="password" class="form-control" th:field="*{password}" placeholder="Mật khẩu hiện tại" th:required="true"/>
						                              </div>
						                              <div class="form-group">
						                                <label for="password">Mật khẩu mới</label>
						                                <input type="password" class="form-control" th:field="*{confirmPassword}" placeholder="Mật khẩu mới" th:required="true"/>
						                              </div>
						                              <div class="form-group">
						                                <label for="password">Nhập lại mật khẩu mới</label>
						                                <input type="password" class="form-control" th:field="*{confirmPassword1}" placeholder="Nhập lại mật khẩu mới" th:required="true"/>
						                              </div>
						                              <input type="hidden" th:field="*{userName}"/>
						                              <button type="submit" class="btn btn-primary m-t-15 waves-effect btnChange">Submit</button>
						                         </form>
										</div>
		
									</div>
								</div>
							</div>
					</div>
				<!-- </div>
			</div> -->
		</div>
		<!-- #END# With Captions -->
	</div>
	<script th:src="@{/static/js/admin/admin-home.js}" th:attr="asyns='true'"></script>
</div>
